.phone_desc {
    color: #8a4996;
    display: inline-block;
    /* width: 100%; */
    margin: 0px 0px 0px 22px;
}

.wrap_head_phone {
    margin: 13px 0px 0px;
}

/* footer */
.container .row .row__footer {
    margin: 0;
}

.container .row .row__footer ul {
    margin: 0;
}

.container .row .row__footer li {
    margin: 0;
}

.row__footer-social {
    margin-right: 5px;
}

.row__footer-social img {
    width: 28px;
}

.container .row .row__footer .d-none {
    display: none;
}

.rubrics-list a {
    width: 100%;
    display: inline-block;
    margin: 0px 0px 20px;
    font-size: 17px;
    text-decoration: underline;
}

.article-item {
    display: inline-block;
    padding: 10px;
    border: 6px solid #e9e9e9;
    border-radius: 10px;
    margin: 0px 0px 20px;
}

.article-image {
    width: 30%;
    display: inline-block;
    float: left;
}

.article-image a {
    text-align: center;
    display: inline-block;
}

.article-image img {
    width: 90%;
}

.article-preview {
    width: 65%;
    display: inline-block;
    float: left;
}

.article-preview-label {}

.article-preview-title {
    font-size: 20px;
    margin: 5px 0px 20px;
}

.article-preview-preview-text {}

/* 
.author-section {
    margin: 30px 0px;
    display: inline-block;
    width: 100%;
} */

/* .aut-img {
    /* max-width: 20%; */
/* float: left; */
/* text-align: center;
} */

.aut-img img {
    width: 100%;
}

/*.aut-text{
    /* width: 50%; */
/* float: left;
    margin: 0px 20px;
} */

.aut-text .aut-name {
    font-size: 20px;
}

/* .aut-text .aut-desc {
    margin: 10px 0px 0px;
}   */
.author__container {
    display: flex;
}

.aut-desc {
    margin-left: 15px;
}

.aut-desc-title {
    margin-bottom: 15px;
}

#articles-page #content h1 {
    margin-top: 0px;
}

#article #content h2 {
    margin: 0px 0 10px;
}

.article-rubrics-list {
    width: 100%;
    display: inline-block;
    margin: 10px 0px 10px;
}

.article-rubrics-list a {
    background: #0081ac;
    color: #fff;
    font-weight: 600;
    padding: 4px 10px;
    float: left;
    margin: 0px 6px 0px 0px;
    border-radius: 10px;
}

.article-similar {}

.article-similar h3 {
    font-size: 20px !important;
}

.article-similar-list {
    width: 100%;
    margin: 20px 0px;
}

.article-similar-item {
    width: 290px;
    /* height: 200px; */
    float: left;
    text-align: center;
    margin: 0px;
    /* overflow: hidden; */
}

.article-similar-item-img {
    height: 150px;
    overflow: hidden;
}

.article-similar-item img {
    max-width: 90% !important;
}

.article-similar-item a {
    margin: 10px 0px;
    display: inline-block;
}

.article-ylead {
    padding: 20px;
    border: 1px solid #009fd6;
    margin: 20px 0px;
}

.aut-desc {
    line-height: 150%;
}

.author-section img {
    width: 160px;
}

.aut-img {
    width: 160px;
}

.article_item_page {}

.article_item_page table {}

.article_item_page table tr {}

.article_item_page table tr td {
    border: 1px solid #a4a4a4;
    padding: 4px 10px;
}

.application .content__social {
    margin: 0 4px;
 }

.application .content__social img {
    width: 52px;
    height: 52px;
}

@media only screen and (max-width: 992px) {
    .row__footer-social {
        margin-right: 3px;
    }

    .row__footer-social img {
        width: 5%;
    }

    .article-similar-item {
        width: 50%;
    }
}

@media only screen and (max-width: 445px) {
    .row__footer-social {
        margin-right: 3px;
    }

    .row__footer-social img {
        width: 7%;
    }
}

.top-offbar {
    margin-top: 60px;
}

@media only screen and (max-width: 500px) {
    .top-offbar {
        margin-top: 85px;
    }
}

.dn {
    display: none !important;
}

/* Баннер consult.edunetwork.ru */

#banner-consult {
    width: 250px;
}

.banner__container {
    padding: 0 10px;
}

.banner__logo {
    padding: 20px 10px;
    display: block;
    background: #f6f6f6;

    width: 100%;
    margin-bottom: 30px;
}

.cumsult__list {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
}

.cumsult__list ul {
    margin: 0;
    padding: 0;
}

.cumsult__list ul li {
    position: relative;
    display: inline-block;
    list-style: none;

    font-size: 16px;
    line-height: 110%;

    background: #efc460;
    width: auto;
    height: auto;

    margin-bottom: 5px;
    padding: 7px 10px;
}

.cumsult__list ul li:after {
    content: "";

    position: absolute;
    right: -20px;
    top: 0px;

    border-bottom: 32px solid #ffffff;
    border-left: 22px solid #efc460;
}

.consult__text {
    font-size: 16px;
    line-height: 150%;

    margin-bottom: 20px;
}

.consult__text .red {
    color: #f36060;
    font-weight: 700;
}

.consult__text .blue {
    color: #60a2f3;
}

.consult__text-prefix {
    position: relative;
    display: inline-block;
    background: #8a2be2;
    color: #ffffff;
    padding: 10px;
}

.consult__text-prefix::after {
    content: "";
    position: absolute;
    left: 15px;
    top: -15px;
    border-bottom: 15px solid #8a2be2;
    border-right: 15px solid #ffffff;
}

.application {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    background-image: url("/tpl/imgs/back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.application--thx {
    padding-top: 130px;
    padding-bottom: 215px;
}

.application--limit {
    padding-top: 200px;
    padding-bottom: 290px;
}

.application__back {
    position: relative;
    width: 1300px;
    margin: 0 auto;
}

.application__men {
    position: absolute;
    top: -30px;
    left: 0;
    z-index: -1;
}

.application__men img {
    width: 100%;
}

.application__women img {
    width: 100%;
}

.application__women {
    position: absolute;
    top: -100px;
    right: 0;
    z-index: -1;
}

.application__content {
    text-align: center;
}

.application__content--limit {
    width: 60%;
    margin: 0 auto;
}

.application__content-text {
    margin-bottom: 35px;
    text-align: center;
}

.content__text-title {
    text-align: center;
}

.content__text-title--thx {
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
}

.content__text-title--limit {
    font-size: 38px;
    line-height: 48px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .content__text-title--limit {
        font-size: 28px;
        line-height: 38px;
    }
}

.content__text-prefix {
    font-weight: 400;
    font-size: 23.6651px;
    line-height: 28px;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.content__link {
    margin-bottom: 35px;
}

.content__link .social__vk {
    margin: 0 14px;
}

.content__btn {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    background-color: #4a8ecb;
    border-radius: 14px;
    padding: 23px 59px;
    transition: .2s opacity ease;
    max-width: 320px;
    margin: 10px auto;
}

.content__btn:hover {
    opacity: 0.8;
    color: #fff;
}



@media screen and (max-width: 1199px) {
    .application {
        background-position-y: 80%;
    }

    .content__link {
        margin-bottom: 42px;
    }

    .content__btn {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .content__link {
        margin-bottom: 40px;
    }

    .content__btn {
        font-size: 21px;
    }
}

@media screen and (max-width: 600px) {
    .content__link {
        margin-bottom: 38px;
    }

    .content__btn {
        font-size: 20px;

        padding: 15px 26px;
    }
}

@media screen and (max-width: 550px) {
    .content__link {
        margin-bottom: 35px;
    }

    .content__btn {
        font-size: 18px;

        padding: 12px 22px;
    }
}

@media screen and (max-width: 450px) {
    .application {
        background-position-y: bottom;
        background-size: 120%;
        padding-top: 43px;
        padding-bottom: 180px;
    }

    .application .content__text-title {
        font-size: 22px;
        line-height: 100%;
    }

    .application .content__link {
        margin-bottom: 33px;
    }

    .application .content__btn {
        font-size: 16px;

        padding: 10px 18px;
    }

    .application .content__text-prefix {
        font-size: 14px;
        width: 100%;
        margin: 0 auto;
    }
    .application .content__text-list li{
        list-style-type: disc;
    }

    .application .content__social {
        margin: 0 4px;
     }

    .application .content__social img {
        width: 24px;
        height: 24px;
    }

    .application .content__link .social__vk {
        margin: 0 4px;
    }

    .application .content__link {
        margin-bottom: 30px;
    }

    .application .content__btn {
        font-size: 14px;

        padding: 8px 14px;
    }
}

.item {
    padding-top: calc(var(--bs-gutter-x) / 2);
    padding-bottom: calc(var(--bs-gutter-x) / 2);
}

.catalog__item-name {
    text-align: left;
    padding: 0;
}

.catalog__item-logo {
    padding: 0;
}

.catalog__item-logo img {
    width: 100px;
    border-radius: 20px;
}

.counter__span {
    margin-right: 15px;
}

.counter__span:last-child {
    margin-right: 0;
}

.none {
    display: none !important;
}

.title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
}

@media (max-width: 992px) {
    .sidebar__column {
        display: none;
    }
}

.top__title {
    margin-top: 50px;
}

.main__title {
    margin-top: 40px;
}

.sort {
    margin: 40px 0;
}

.sort__select {
    font-size: 24px;
}

.sort__select select {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* color: #ffffff;
    background-color: #4d8bfe; */
    /* background-position: calc(100% - 10px); */
    /* background-repeat: no-repeat; */
    border-radius: 5px;
    border: 1px solid #cfd3d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 14px 40px 14px 16px;
    margin-left: 15px;
}

.sort__select select:focus {
    outline: none;
}

.alphabet__container {
    display: flex;
    overflow-x: scroll;
    width: 100%;

    padding: 10px 0 25px;
}

.alphabet__container div {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 5px;
    padding: 10px 20px;
}

.alphabet__container .active {
    background: #502ac4bc;
    color: #fff;
}

.alphabet__container div:first-child {
    margin-left: 0;
}

.features-boxed .container:first-child {
    padding: 0;
}

.profesii__container {
    display: grid;
    gap: 10px;
    grid-template-columns: 425px 425px 425px;
}

.profesii__container-item {
    width: 425px;
    box-sizing: border-box;

    border-radius: 20px;
    border: 4px solid #a4a4a4;
    padding: 15px;
    /* margin-bottom: 10px;
    margin-right: 10px; */
}

@media (max-width: 1399px) {
    .alphabet__container {
        justify-content: center;
    }

    .profesii__container {
        display: grid;
        gap: 10px;
        justify-content: center;
        grid-template-columns: 425px 425px;
        justify-items: center;
    }
}

@media (max-width: 991px) {
    .profesii__container {
        grid-template-columns: 350px 350px;
    }

    .profesii__container-item {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .profesii__container {
        grid-template-columns: 100%;
    }
}

.item__header {
    display: flex;
    margin-bottom: auto;
}

.item__header-title {
    font-size: 24px;
    font-weight: 600;
}

.item__header-prefix {
    font-size: 18px;

    margin-top: 25px;
    margin-bottom: 20px;
}

.item__header-logo {
    display: block;
    margin-left: auto;
}

.item__header-logo img {
    width: 100px;
    border-radius: 20px;
}

.item__footer {
    display: flex;
    margin-top: 80px;
}

.item__footer-college {
    margin-left: 20px;
}

/* Professii */

@media (min-width: 992px) {
    .sidebar__column {
        display: none;
    }
}

/* Content */

.poster__container {
    background-image: url(https://imgholder.ru/300x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    margin-bottom: 40px;
}

.articles .container {
    position: relative;
}

.articles .swiper-button-next {
    right: -40px;
    top: 45%;
}

.articles .swiper-button-prev {
    left: -40px;
    top: 45%;
}

.articles__container .swiper__articles {
    padding-bottom: 40px;
}

.articles__container .swiper-wrapper {
    box-sizing: border-box;
}

.poster__container {
    padding: 40px 20px;
}

.сontent__container-item {
    cursor: pointer;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 5px;
}

.content {
    font-size: 18px;
    text-align: justify;
}

.wrapper {
    margin: 50px 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.swiper-wrapper .articles__container-item {
    /* width: 30%; */
    height: 163px;
    border: 4px solid #a4a4a4;
    padding: 15px;
    border-radius: 20px;
}

.articles__container-item:last-child {
    margin-right: auto;
}

.listPage {
    text-align: center;
    margin: 15px 0;
}

.listPage a {
    margin-right: 10px;
}

.listPage a:last-child {
    margin: 0;
}

.listPage__number {
    cursor: pointer;
}

/* @media (max-width: 1400px) {
    .articles__container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .articles__container-item {
        width: 390px;
        margin-bottom: 15px;
    }
} */

@media (max-width: 450px) {
    /* .articles__container-item {
            width: 360px;
            margin-bottom: 15px;
    } */

    .item__header-title {
        font-size: 20px;
    }

    .item__header-prefix {
        font-size: 16px;
    }
}

.arrow-top {
    position: fixed;
    cursor: pointer;
    bottom: 60px;
    right: 30px;
    z-index: 3;

    width: 40px;
    display: block;
}

@media (max-width: 545px) {
    .arrow-top {
        right: 5px;
    }
}

/* .banner_section_mobile {
    display: none;
} */

.banner_section_tablet {
    display: none;
}

@media (max-width: 992px) {
    .banner_section_tablet {
        display: block;
        margin: 0 auto;
    }

    .banner_section_tablet a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .banner_section_tablet img {
        display: block;
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
    }
}

/* @media (max-width: 450px) {
    .banner_section_tablet {
        display: none;
    }

    .banner_section_mobile {
        display: block;
        margin: 0 auto;
    }

    .banner_section_mobile a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .banner_section_mobile img {
        display: block;
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
    }
} */

.test__container {
    text-align: center;
    margin-bottom: 190px;
    margin-top: 150px;
}

.prof-test .swiper-slide {
    opacity: 0 !important;
    /* display: none; */
}

.prof-test .swiper-slide-active {
    opacity: 1 !important;
    /* display: block; */
}

.prof-test .test__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;

    color: #225991;
}

.prof-test .test__subtitle {
    max-width: 720px;
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    color: #225991;
    margin: 0 auto;
    margin-bottom: 25px;
}

.prof-test .test__text {
    max-width: 940px;

    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #282828;

    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 30px;
}

.prof-test .test__btn {
    background: #EC407A;
    border: 2px solid #EC407A;
    border-radius: 4px;

    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;

    padding: 19px 52px;
}

.prof-test .swiper-slide .container {
    display: none;
}

.prof-test .swiper-slide-active .container {
    display: flex;
}

.prof-test .swiper-slide-active .test__container .container {
    display: none;

    margin-top: 150px;
}

@media screen and (max-width:768px) {
    .prof-test .swiper-slide-active .test__container .container {
        margin-top: 75px;
    }
}

.question__container {
    display: flex;
    margin-top: 210px;
}

.question__container-number {
    color: #225991;

    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    margin-right: 260px;
    min-width: 145px;
}

.question__container-number span {
    color: #22599136;
}

.question__container-topic h3 {
    color: #225991;

    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    min-height: 80px;

    margin-bottom: 70px;
}

.question__checkbox-input label {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #282828;

    margin-bottom: 50px;
}

.question__checkbox-input input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 30px;
    height: 30px;

    outline: 2px solid #225991;
    transition: 0.2s;

    margin-right: 15px;

    position: relative !important;
    opacity: 1 !important;
    pointer-events: all !important;
}

.question__checkbox-input:hover .checkbox__proftest {
    border: 7px solid #FAB217;
    background: #FFF;
    cursor: pointer;
}

.question__checkbox-input input:checked {
    border: 5px solid #ffffff;

    background: #FAB217;
    outline: 1px solid #225991;

    position: relative !important;
    opacity: 1 !important;
    pointer-events: all !important;
}

.question__checkbox-btn {
    outline: none;
    background: #C9345D;
    border: none;
    border-radius: 4px;
    padding: 24.5px 35.5px;
    transition: 0.3s;
}

.question__checkbox-btn:hover {
    box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
}

.question__checkbox-btn:focus {
    background: #C9345D;
}

@media screen and (max-width:768px) {
    .test__container {
        margin-bottom: 100px;
        margin-top: 120px;
    }

    .prof-test .test__title {
        font-weight: 900;
        font-size: 28px;
        line-height: 36px;
    }

    .prof-test .test__btn {
        font-size: 16px;
        padding: 9px 41px;
    }

    .question__container {
        margin-top: 100px;
    }

    .question__container-number {
        font-size: 28px;
        line-height: 36px;
        margin-right: 150px;
    }

    .question__container-topic h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .prof-test .test__text {
        max-width: 640px;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 25px;
    }

    .prof-test .test__subtitle {
        font-size: 22px;
        line-height: 28px;
        margin: 0 30px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:600px) {
    .test__container {
        margin-bottom: 70px;
        margin-top: 80px;
    }

    .prof-test .test__title {
        font-size: 24px;
        line-height: 30px;
    }

    .prof-test .test__btn {
        font-size: 16px;
        line-height: 28px;
    }

    .question__container {
        flex-direction: column;
        margin-top: 50px;
    }

    .question__container-number {
        font-size: 28px;
        line-height: 36px;

    }

    .question__checkbox-input label {
        font-size: 22px;
        line-height: 32px;
    }

    .question__container-topic h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .prof-test .test__text {
        max-width: 640px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 40px;
    }

    .prof-test .test__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}

.vuz-button {
    background: #4A8ECB;
    border-radius: 4px;

    font-weight: 700;
    font-size: 14px;
    line-height: 28px;

    color: #FFFFFF;

    padding: 5.5px 30.5px;
}

.vuz__logo {
    width: 140px;
    margin-right: 15px;
}

@media (max-width: 1440px) {
    .vuz__logo {
        width: 120px;
        /* max-width: 120px; */
        margin-right: 15px;
    }
}

@media (max-width: 991px) {
    .vuz__logo {
        margin: 0;
        margin-bottom: 20px;
    }
}

.vuz__logo img {
    width: 140px;
}

.vuz__container {
    padding: 20px;
    margin-bottom: 35px;
}

@media (max-width: 991px) {
    .vuz__container {
        margin-bottom: 15px;
    }
}

.vuz__container:last-child {
    margin-bottom: 0;
}

.aside__container {
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    padding: 0 15px;
    height: 550px;
    overflow-y: scroll;
}

.aside__container::-webkit-scrollbar {
    width: 6px;
}

.aside__container::-webkit-scrollbar-track {
    background: #F7F7F7;
}

.aside__container::-webkit-scrollbar-thumb {
    background: #ECECEC;
    border-radius: 5px;
    width: 6px;
}

.vuz__type-item::-webkit-scrollbar {
    width: 6px;
}

.vuz__type-item::-webkit-scrollbar-track {
    background: #F7F7F7;
}

.vuz__type-item::-webkit-scrollbar-thumb {
    background: #ECECEC;
    border-radius: 5px;
    width: 6px;
}

.vuz__container-item {
    display: flex;
}

@media (max-width: 991px) {
    .vuz__container-item {
        flex-direction: column;
    }


}

.vuz__container-item .vuz__text {
    text-align: left;
}

.vuz__text-discription {
    display: flex;
}

.vuz__text-points {
    display: flex;
    flex-wrap: wrap;
}

.vuz__points {
    display: flex;
    align-items: center;
    margin-right: 20px;


}

.vuz__points p {
    margin: 0 0 0 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 34px;

    color: #545454;
}

.vuz__text-average {
    font-weight: 700;
    font-size: 14px;
    line-height: 34px;

    color: #000000;
    margin-right: 20px;
}

.vuz__text-metro {
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;

    color: #000000;
}

.fancybox-can-pan .fancybox-content,
.fancybox-can-swipe .fancybox-content {
    cursor: default !important;
}

.vuz-test__container-form {
    text-align: center;
}

.vuz-test__container-form h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;

    text-align: center;

    color: #0C121C;
    margin-bottom: 20px;
}

.vuz-test__container-form p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;

    color: #0C121C;
}

#vuz-test__form-check {
    display: flex;
    align-items: flex-start;
    text-align: left;

    margin-top: 30px;
}

#vuz-test__form-check p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: left;

    color: #0C121C;
    margin-left: 20px;
}

#vuz-test__form-checkbox {
    position: relative;
    opacity: 1;
}

.vuz-test__container-form #vuz-test__form-btn {
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;

    color: #FFFFFF !important;
    background: #4A8ECB;

    padding: 19px 0;
    margin-top: 30px;
}

.prof-test .swiper-wrapper .swiper-slide .vuz-result__container {
    display: none;
    padding-top: 30px;
    margin-top: 30px;

    border-top: 1px solid #000000;
}

@media (max-width: 768px) {
    .vuz-result__container {
        flex-direction: column;

        margin-top: 100px;
    }

}

.aside__citi-input {
    display: flex;
    align-items: center;
    padding: 20px 0;

    border-bottom: 1px solid #C8C8C8;

}

.aside__citi-input:last-child {
    border: none;
}

.aside__citi-input {
    font-size: 18px;
    line-height: 20px;
    color: #707C8B;
}

.aside__citi-input p {
    margin: 0;
}

.aside__citi-input input,
.aside__citi-input [type="radio"]:not(:checked),
.aside__citi-input [type="radio"]:checked {
    position: relative;
    opacity: 1;
    pointer-events: all;
    appearance: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    outline: 2px solid #EC407A;
    transition: 0.2s;

    margin-right: 10px;
    margin-left: 5px;
}

.aside__citi-input [type="radio"]:checked {
    background: #EC407A;
}

.vuz-result__container aside {
    margin-right: 60px;
}

@media (max-width: 991px) {
    .vuz-result__container aside {
        margin-right: 30px;
    }
}

@media (max-width: 768px) {
    .vuz-result__container aside {
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

.vuz-result__container .null {
    display: none;
}


#researchVuz {
    width: 265px;
    background: #EC407A;
    outline: none;
    border: none;
    border-radius: 6px;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    padding: 5.5px 30.5px;
    margin: 15px 0;

}

@media (max-width: 768px) {
    .aside__container {
        height: 300px;
    }

    .aside__container-citi {
        overflow-y: scroll;
    }
}

.vuz__type-item button {
    display: none;
}

.vuz__type-item .visible {
    display: inline-flex;
    align-items: center;

    border: 1px solid #CFD3D8;
    border-radius: 6px;
    background-color: #fff;

    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #11253D;

    cursor: pointer;

    padding: 13px 16px;
    margin-right: 15px;
    margin-bottom: 10px;

    transition: 0.3s;
}



.vuz__type-item .visible:hover {
    border: 1px solid #EC407A;
}

.vuz__type-item .active {
    border: 1px solid #EC407A;
}

.vuz__type-item #allType {
    display: inline-flex;
    border: 1px solid #EC407A;
}

.vuz__type-item .active:hover {
    border: 1px solid #CFD3D8;
}

.vuz__type-item button img {
    margin-left: 15px;
}

@media (max-width: 768px) {
    .vuz__type-item {
        max-width: 328px;
        height: 300px;
        box-sizing: border-box;

        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        border: 1px solid #C8C8C8;
        border-radius: 5px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .vuz__type-item #allType {
        display: inline-flex;
        border: none;
        border-bottom: 1px solid #C8C8C8;
    }

    .vuz__type-item button::before {
        content: '';
        display: inline-block;
        width: 13px;
        height: 13px;

        /* background: #EC407A; */
        border: 1px solid #EC407A;
        border-radius: 2px;
        margin-right: 10px;

    }

    .vuz__type-item .active {
        position: relative;
        border-bottom: 1px solid #C8C8C8;
    }

    .vuz__type-item .visible {
        min-width: 220px;
        font-size: 18px;
        line-height: 20px;
        color: #707C8B;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #C8C8C8;

        margin: 0;
    }

    .vuz__type-item .active::before {
        /* content: url(/tpl/imgs/donetest.svg); */
        background-color: #EC407A;
        background-image: url(/tpl/imgs/donetest.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .vuz__type-item .visible:last-child {
        border-bottom: none;
    }

    .vuz__type-item .visible:hover {
        border: none;
        border-bottom: 1px solid #C8C8C8;
    }

    .vuz__type-item .active:hover {
        border: none;
        border-bottom: 1px solid #C8C8C8;
    }
}

.vuz__more {
    border: 1.5px solid #4A8ECB;
    border-radius: 4px;
    background: #fff;

    font-size: 18px;
    line-height: 24px;

    color: #282828;

    padding: 10px 20px;
}

.test__container--remove {
    max-width: 940px;

    text-align: right;

    margin: 0 auto;
    margin-bottom: 45px;
}

.test__container #removeTestBtn {
    border: 1px solid #EC407A;
    border-radius: 4px;
    background: #fff;

    font-weight: 700;
    font-size: 16px;
    line-height: 28px;

    color: #282828;
    cursor: pointer;

    padding: 9px 15px;
}

@media (max-width: 768px) {

    .test__container--remove {
        margin-bottom: 25px;
    }

    .test__container #removeTestBtn {
        font-size: 14px;
        line-height: 28px;

        padding: 3.5px 13.5px;
    }
}

@media (max-width: 450px) {
    .test__container #removeTestBtn {
        font-size: 12px;
        line-height: 28px;
    }
}

#spec-pages h2 {
    color: #333;
    margin-bottom: 0.8rem;
}

#spec-pages span {
    color: #666;
    opacity: 0.9;
}

#spec-pages .col {
    margin-bottom: 1.7rem;
    width: 100%;
}

#spec-pages .col:last-child {
    margin-bottom: 0;
}

#spec-pages .col-0 h2 {
    font-size: 2.1em;
    margin-bottom: 1.7rem;
    font-weight: 400;
}

#spec-pages .col-1 p {
    max-width: 50%;
}

#spec-okso-pages {
    overflow: hidden;
    padding-bottom: 30px;
}

#spec-okso-pages .col-2 {
}

#spec-okso-pages .col-2 h2 {
    margin: 2rem 0;
}

#spec-okso-pages .col-2 ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 100%;
    position: relative;
    grid-column-gap: 1rem;
    flex: 0 0 auto;
}



#spec-okso-pages .col-2 .spec-okso-pages-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1100px) {
    #spec-okso-pages .col-2 .spec-okso-pages-wrapper {
        width: 990px;
        font-size: 14px;
    }
}

#spec-okso-pages .col-2 .spec-okso-pages-wrapper ul {
    margin-bottom: 20px;
}

/* #spec-okso-pages .col-2 .spec-okso-pages-wrapper ul li:nth-child(4) {
    padding-left: 16%;
} */

#spec-okso-pages .col-2 .spec-okso-pages-wrapper ul:first-child {
    border-bottom: 1px solid #666;
    padding-bottom: 20px;
}

#spec-okso-pages .col-2 .spec-okso-pages-inner {
    overflow: auto;
}

#spec-okso-pages .col-2 .spec-okso-pagesMobs {
    display: none;
}

@media (max-width: 575px) {
    #spec-okso-pages .col-2 .spec-okso-pagesMobs {
        display: block;
    }

    #spec-okso-pages .col-2 .spec-okso-pages-inner {
        display: none;
    }
}

#spec-okso-pages .col-2 .spec-okso-pagesMobs span {
    font-weight: 700;
    font-size: 17px;
}

#spec-okso-pages .col-2 .spec-okso-pagesMobs .spec-okso-pagesMobs__box {
    padding-top: 20px;
    border-top: 1px solid;
}

#spec-okso-pages .col-2 .spec-okso-pagesMobs .spec-okso-pagesMobs__box-list  {
    margin-bottom: 20px;
}
#spec-okso-pages .col-2 .spec-okso-pagesMobs .spec-okso-pagesMobs__box-form div  {
    display: flex;
    align-items: center;
}
#spec-okso-pages .col-2 .spec-okso-pagesMobs .spec-okso-pagesMobs__box-form div span  {
    font-size: 16px;
    display: block;
}
#spec-okso-pages .col-2 .spec-okso-pagesMobs .spec-okso-pagesMobs__box-form div span:first-child  {
    margin-left: 10px;
}
#spec-okso-pages .col-2 .spec-okso-pagesMobs .spec-okso-pagesMobs__more  {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 360px;
    height: 40px;
    border: 1px solid;
    cursor: pointer;
    transition: all ease .5s;
    margin: 0 auto;
} 

#spec-okso-pages .col-2 .spec-okso-pagesMobs .spec-okso-pagesMobs__more:hover  {
    background-color:#222;
    color: #fff;
}

#spec-okso-pages .col-2 ul li>div {
    margin-bottom: 1.5rem;
}

#spec-okso-pages .col-2 h2 {
    max-width: 80%;
}

#spec-pages .col-2 ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 80%;
    position: relative;
    grid-column-gap: 1rem;
}

#spec-pages .col-2 ul::after {
    content: "";
    position: absolute;
    top: 42%;
    transform: translate(0, -50%);
    left: 0;
    display: block;
    width: 100%;
    height: 0.1px;
    background: #666;
    opacity: 0.5;
}

#spec-pages .col-2 ul li>div {
    margin-bottom: 1.5rem;
}

#spec-pages .col-2 h2 {
    max-width: 80%;
}

#spec-pages .col-4 h2 {
    max-width: 100%;
}

#spec-pages .col-4 ul {
    grid-template-columns: repeat(3, 1fr);
}

#spec-pages .col-3 h3 {
    font-size: 1em;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

#spec-pages .col-3 div {
    padding-left: 0.5rem;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.spec-pages-list {
    padding-left: 1rem !important;
}

.spec-pages-list li {
    position: relative;
    margin-bottom: 0.3rem;
    padding-left: 0.7rem;
}

.spec-pages-list li:before {
    position: absolute;
    left: 0;
    top: 6px;
    content: "";
    width: 5px;
    height: 5px;
    display: block;
    background: blue;
    border-radius: 100%;
    margin-right: 0.4rem;
}

#spec-pages .col-4 ul li {
    margin-bottom: 0.3rem;
}

.spec-pages-text {
    max-width: 80%;
}

.faculty-title {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
}

@media (max-width: 1199px) {
    #spec-pages .col-1 p {
        max-width: 100%;
    }

    .spec-pages-text {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    #spec-pages .col {
        margin-bottom: 1.4rem;
    }

    #spec-pages .col-1 p,
    #spec-pages .col-2 ul li>div,
    #spec-pages .col-3 h3,
    #spec-pages .col-3 ul,
    #spec-pages .col-4 ul {
        font-size: 1em;
    }

    #spec-pages .col-2 ul {
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
    }

    #spec-pages .col-2 ul::after {
        display: none;
    }

    #spec-pages .col-2 ul li {
        margin-bottom: 1rem;
    }

    #spec-pages .col-2 ul li>div {
        margin-bottom: 0.4rem;
    }

    #spec-pages .col-3 div {
        font-size: 1.3rem;
    }

    #spec-pages .col-2 h2 {
        max-width: 100%;
    }
}